[Unit]
Description=Doorbell state setup
Requires=network.target
After=init-dorfmap.service

[Service]
Type=oneshot
ExecStart=/usr/lib/dorfmap/init-door
User=www-data

[Install]
WantedBy=multi-user.target
