[Unit]
Description=Dorfmap Daemon
Requires=network.target
After=dorfmap-init.service

[Service]
Type=simple
RemainAfterExit=yes
PIDFile=/tmp/dorfmap-api.pid
ExecStart=/usr/bin/hypnotoad index.pl -f
ExecStop=/usr/bin/hypnotoad -s index.pl
ExecReload=/usr/bin/hypnotoad index.pl
User=www-data
Nice=-1
WorkingDirectory=/srv/www/dorfmap

[Install]
WantedBy=multi-user.target
