[Unit]
Description=Flukso Daemon
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/fluksod
User=www-data

[Install]
WantedBy=multi-user.target
