[Unit]
Description=MQTT publisher
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/mqttpushd
User=www-data
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
