[Unit]
Description=Dorfmap GPIO and /tmp setup
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/lib/dorfmap/init-door
User=www-data

[Install]
WantedBy=multi-user.target
