[Unit]
Description=Dorfmap GPIO and /tmp setup
Requires=network.target
After=dorfmap-init.service

[Service]
Type=oneshot
ExecStart=/usr/lib/dorfmap/init-door
User=www-data

[Install]
WantedBy=multi-user.target
