[Unit]
Description=Edge Router SNMP getter daemon
After=network.target
Requires=network.target

[Service]
Type=simple
ExecStart=/usr/bin/snmpgetd
User=www-data
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
